<?xml version="1.0"?>
<launch>
  <param name="/use_sim_time" value="true"/>
  <!--
<node pkg="tf2_ros" type="static_transform_publisher" respawn="true" name="rslidar_camera_tf" args="0.6 0 1.1 -1.57 0 -1.57 base_link camera_link " />

<node pkg="tf2_ros" type="static_transform_publisher" respawn="true" name="rslidar_baselink_tf" args="0.44 0 1.33 0.01 0.17 0.025  base_link rslidar " />
-->
 
 <!--<node name="republish_img" type="republish" pkg="image_transport" output="screen" args="compressed in:=/rgb_image_hd  raw out:=/rgb_image_hd" />-->

<!--<node pkg="aruco_mapping" type="image_process" respawn="true" name="image_process">-->
    <!--<param name="calibration_file" type="string" value="$(find aruco_mapping)/data/zed_left_uurmi.ini" />-->
    <!--<param name="flip" type="bool" value="true" />-->

<!--</node>-->

    <!--gaussian1547-->
    <node pkg="tf2_ros" type="static_transform_publisher" respawn="true" name="rslidar_camera_tf"
          args="0.662154 -0.021933 -0.372927 1.56345 3.13563 2.05366 rslidar camera_link " />

  <!--gaussian1098-->
  <!--<node pkg="tf2_ros" type="static_transform_publisher" respawn="true" name="rslidar_camera_tf"-->
        <!--args="0.801422  0.071846 -0.257728 1.60373 3.09503 1.86663 rslidar camera_link " />-->
</launch>

